  <p><%= session[:category]["name"] %></p>
  <p>【問題<%= @current + 1 %>】  <span><%= @current + 1 %>問/ <%= @total %>問中</span></p>
  <p id="question">
    <%= @question.question_text %>
    <%= attachment_image_tag @question, :image,:fill, 100, 100,format: 'jpeg' %>
    <span>(問題番号<%= @question.id %>)</span>
  </p>



  <%= form_with(url: {:controller => "questions", :action => "sub_result"},local: true) do |f| %>
    <ul>

      <% @choices.each do |choice| %>
    	 <li>
    		<%= check_box_tag 'selected_choices[]', choice.id , false,:id => "selected_#{choice.id}" ,class: "choice" %>
    		<%= f.label("selected_".concat(choice.id.to_s).to_sym, choice.choice_text ,class: "choice") %>
    	 </li>
      <% end %>
    </ul>
    <div class="center">
  	 <%= f.submit("解答",disabled: true,id: "answer_btn") %>
    </div>
  <% end %>
  <%= javascript_include_tag 'answer_btn.js' %>