
  <h1>問題 <%= @current + 1 %> / <%= @total %>問</h1>
  <p id="question"><%= @question.question_text %></p>
  <span>(問題番号<%= @question.id %>)</span>

  <%= form_tag({:controller => "questions", :action => "sub_result"}) do %>
    <ul>
      <% @choices.each do |choice| %>
    	 <li class="choice">
    		<%= radio_button_tag(:selected, choice.id) %>
    		<%= label_tag("selected_".concat(choice.id.to_s).to_sym, choice.choice_text ) %>
    	 </li>
      <% end %>
    </ul>
    <div class="center">
  	 <%= submit_tag("答え合わせ") %>
    </div>
  <% end %>



