<h2><%= session[:category]["name"] %></h2>

<p>
  この問題は【<%= session[:category]["name"] %>】です。<br />
</p>

<%= form_tag({:controller => "questions",:action => "start"}) do %>
  <p><%= label_tag(:number, "解答したい問題数を選んでください。", :id => "question") %></p>
  <p class="center">
    <%= select_tag(:number, options_for_select((1..@max).map {|x| [x, x]},{:selected => @max}), :id => "count") %> <br />
  </p>
  <%= link_to "問題カテゴリ選択画面へ",questions_categories_path %>
	<%= submit_tag "開始", data: {"turbolinks" => false}  %>
<% end %>


