<p><%= session[:category]["name"] %></p>
  <p>【問題<%= @current %>】  <span><%= @current %>問/ <%= @total %>問中</span></p>
<p class="feedback">
  <% if @correct %>
	 正解！
  <% else %>
	 不正解
  <% end %>
</p>

<p id="question">問題.<%= @question["question_text"] %></p>

<ul id="feedback-choices">
  <% @choices.each do |choice| %>
    <% if choice["is_answer"] %>
      <li class="correct feedback-choice">正解
    <% elsif choice["id"] == @choice.id %>
      <li class="incorrect feedback-choice">あなたの答え
    <% else %>
      <li class="feedback-choice">
    <% end %>
    <%= choice["choice_text"] %>
    </li>
  <% end %>
</ul>


<%= form_tag({:controller => "questions", :action => "answer"}) do %>
  <div class="center">
    <% if @current >= @total %>
	   <%= submit_tag("結果を見る") %>
  	<% else %>
  	  <%= submit_tag("次の問題") %>
   <% end %>
  </div>
<% end %>