<section class="inner">
  <div class="admin-staffs-index flex justify-between">
    <h2 class="section-ttl">スタッフ一覧</h2>
    <%= search_form_for @q, url: admin_staffs_path do |f| %>
      <%= f.label :last_name_or_first_name_or_last_name_kana_or_first_name_kana_cont, '名前検索' %>
      <%= f.search_field :last_name_or_first_name_or_last_name_kana_or_first_name_kana_cont,class:"ml2" %>
      <%= f.submit '検索',class:"btn btn-info" %>
    <% end %>
  </div>
  <table class="admin_staff_index has_border_bottom">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>達成率</th>
        <th>正答率</th>
        <th>最終ログイン日時</th>
        <th>ステータス<br/>(ログイン回数)</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |staff| %>
        <tr>
          <td><%= staff.id %></td>
          <td><%= link_to staff.full_name,admin_staff_path(staff), data: {"turbolinks" => false} %></td>
          <td><%= staff.achievement_rates %>%</td>
          <td><%= staff.correct_rates %>%</td>
          <td><%= staff.current_sign_in_at.strftime("%Y/%m/%d") %></td>
          <td>
    				<% if staff.status? %>
      				<span class="text-active"><%= staff.sign_in_count %>回</span>
      			<% else %>
    					<span class="text-invalid">退職</span>
    				<% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @results %>
</section>