<h2><%= @staff.full_name %></h2>
<div>
  <canvas id="myChart"></canvas>
  <script>draw_graph();</script>
  <div>
    最終ログイン日時
    <%= @staff.current_sign_in_at.strftime("%Y/%m/%d") %>
  </div>
</div>
<div>
  <table>
    <tbody>
      <tr>
        <td></td>
        <td><%= attachment_image_tag @staff,:image,format: "jpeg", fallback: "no-image.png",size:"100x100" %></td>
      </tr>
      <tr>
        <td>名前</td>
        <td><%=  @staff.full_name %></td>
      </tr>
      <tr>
        <td>Employ Number</td>
        <td><%= @staff.employ_number %></td>
      </tr>
      <tr>
        <td>スタッフステータス</td>
        <td>
          <!--実装途中-->
          <% if @staff.status == true && staff_signed_in? == true %>
    				<span class="text-login">ログイン中</span>
  				<% elsif @staff.status == true && staff_signed_in? == false %>
    				<span class="text-logout">ログアウト</span>
    			<% else %>
  					<span class="text-invalid">退職</span>
  				<% end %>
  			</td>
      </tr>
    </tbody>
  </table>
  <%= link_to "スタッフ一覧", admin_staffs_path %>
  <% if @staff.status? %>
    <%= link_to "退職設定", admin_staff_path(@staff), :method => "PATCH" %>
  <% else %>
    <%= link_to "復職設定", admin_staff_path(@staff), :method => "PATCH" %>
  <% end %>
</div>