<%= form_for question, url: url do |f| %>
	<%= render 'layouts/error_messages', resource: question %>
	<table class="question_form">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>カテゴリ</td>
				<td colspan="3"><%= f.collection_select :category_id, Category.all, :id, :name %></td>
			</tr>
			<tr>
				<td>問題文</td>
				<td colspan="3"><%= f.text_area :question_text, rows: 3 %></td>
			</tr>
			<tr>
				<td>画像</td>
				<td colspan="3">
					<span class="btn btn-file btn-info">
						<%= f.label :image ,"ファイルを選択"  %>
						<%= f.attachment_field :image %>
					</span>
				</td>
			</tr>
			<tr>
				<td>選択肢</td>
				<td>正解</td>
				<td>内容</td>
				<td class="flex justify-between pm-btn-box">
					<i class="fas fa-plus fa-2x"  id="add_choice_btn" ></i>
					<i class="fas fa-minus fa-2x ml2" id="remove_choice_btn"></i>
				</td>
			</tr>
			<%= f.fields_for :choices do |choice| %>
				<tr>
					<td></td>
					<td><%= choice.check_box :is_answer %></td>
				  <td><%= choice.text_field :choice_text, :placeholder => "選択肢を入力してください" %></td>
			    <td>
			    	<% unless question.choices.count <= 2 %>
	          	<%= choice.check_box :_destroy %>削除
	          <% end %>
	        </td>
				</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><%= f.submit submit,class:"btn btn-success" %></td>
			</tr>
		</tbody>
	</table>
<% end %>