<table>
	<thead>
		<tr>
			<th>問題番号</th>
			<th>問題文</th>
			<th>選択肢</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% questions.each do |question| %>
			<tr>
				<td><%= question.id %></td>
				<td>
					<%= attachment_image_tag question,:image, :fill, 100, 100,format: 'jpeg' %>
					<%= question.question_text %>
				</td>
				<td>
				  <% question.choices.each do |choice| %>
				  	<% if choice.is_answer? %>
            	<%= '正解 ' + choice.choice_text %><br />
            <% else %>
            	<%= choice.choice_text %><br />
            <% end %>
          <% end %>
				</td>
				<td>
				  <%= link_to "編集", edit_admin_question_path(question) %>
				  <%= link_to "削除", admin_question_path(question),method: :delete %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>