<section class="inner">
	<h2 class="section-ttl">問題 新規作成</h2>
	<%= form_with model: @question, url: admin_questions_path, local: true do |f| %>
		<%= render 'layouts/error_messages', resource: @question %>
		<table class="question_form">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>カテゴリ</td>
					<td colspan="2"><%= f.collection_select :category_id, Category.all, :id, :name %></td>
					<td>
						<%= link_to "CSV Import", admin_questions_import_get_path ,class: "btn btn-primary" %>
					</td>
				</tr>
				<tr>
					<td>問題文</td>
					<td colspan="3"><%= f.text_area :question_text, rows: 3 %></td>
				</tr>
				<tr>
					<td>画像</td>
					<td colspan="3">
						<span class="btn btn-file btn-info">
							<%= f.label :image ,"ファイルを選択"  %>
							<%= f.attachment_field :image %>
						</span>
					</td>
				</tr>
				<tr>
					<td>選択肢</td>
					<%= f.fields_for :choices,@question.choices.build do |choice| %>
						<td><%= choice.check_box :is_answer %></td>
					    <td class="field_for_choice">
	              <%= choice.text_field :choice_text,:placeholder => "選択肢を入力してください" %>
	            </td>
				  <% end %>
				  <td class="flex">
						<i class="fas fa-plus fa-2x"  id="add_choice_btn" ></i>
						<i class="fas fa-minus fa-2x ml2" id="remove_choice_btn"></i>
				  </td>
				</tr>
				<tr>
					<td></td>
					<%= f.fields_for :choices,@question.choices.build do |choice| %>
						<td><%= choice.check_box :is_answer %></td>
				    <td class="field_for_choice">
              <%= choice.text_field :choice_text,:placeholder => "選択肢を入力してください" %>
            </td>
				  <% end %>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<%= f.fields_for :choices,@question.choices.build do |choice| %>
						<td><%= choice.check_box :is_answer %></td>
				    <td class="field_for_choice">
              <%= choice.text_field :choice_text,:placeholder => "選択肢を入力してください" %>
            </td>
				  <% end %>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<%= f.fields_for :choices,@question.choices.build do |choice| %>
						<td><%= choice.check_box :is_answer %></td>
				    <td class="field_for_choice">
              <%= choice.text_field :choice_text,:placeholder => "選択肢を入力してください" %>
            </td>
				  <% end %>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<%= f.submit "新規作成",class:"btn btn-success" %>
					</td>
				</tr>
			</tbody>
		</table>
	<% end %>
</section>
<%= javascript_include_tag 'new_change_choice_btn.js' %>