<section class="inner">
  <h2>検索結果</h2>
	<div class="content">


		<p>問題検索</p>
		<%= search_form_for @q, url: search_admin_questions_path do |f| %>
		  <%= f.label :id_cont, 'ID' %>
		  <%= f.search_field :id_cont %>
		  <br>
		  <%= f.submit '検索' %>
		<% end %>

		<table class="questions has_border">
			<thead>
				<tr>
					<th>問題番号</th>
					<th>問題文</th>
					<th>選択肢</th>
					<th>カテゴリ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @results.each do |question| %>
					<tr>
						<td><%= question.id %></td>
						<td>
							<% if question.image_id %>
								<%= attachment_image_tag question,:image, :fill, 100, 100,format: 'jpeg' %><br />
							<% end %>
							<%= question.question_text %>
						</td>
						<td>
						  <% question.choices.each do |choice| %>
						  	<% if choice.is_answer? %>
						  		<p class="correct">正解<%= choice.choice_text %>
		            <% else %>
		            	<p><%= choice.choice_text %>
		            <% end %>
		            </p>
		          <% end %>
						</td>
						<% unless params[:category] %>
						<td><%= question.category.name %></td>
						<% end %>
						<td class="text-center">
						  <%= link_to "編集", edit_admin_question_path(question),
						  										data: {"turbolinks" => false},
						  										class: "btn btn-caution mb2" %><br/>
						  <%= link_to "削除", admin_question_path(question),
						  										method: :delete,
						  										class: "btn btn-danger",
						  										"data-confirm" => "問題番号【#{question.id}】の問題を削除します。よろしいでしょうか？"%>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<% if params[:category] %>
			<%= paginate @questions %>
		<% end %>
	</div>
</section>