<section class="inner">
    <% if flash[:notice] %>
      <p class="text-active"><%= flash[:notice] %></p>
    <% end %>
  <h2><%= @staff.full_name %></h2>
  <div class="flex">
    <div>
      <canvas id="myChart"></canvas>
      <div>
        最終ログイン日時
        <%= @staff.current_sign_in_at.strftime("%Y/%m/%d") %>
      </div>
      <div>
        正答率
        <%= @staff.correct_rates %>%
      </div>
      <div>
        総達成率
        <%= @staff.achievement_rates %>%
      </div>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>名前</th>
            <th>フリガナ</th>
            <th>E-mail</th>
            <th></th>
            <th>
              誤答問題数
              <%= @achievement_rates_count %>件
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= attachment_image_tag @staff,:image,format: "jpeg", fallback: "no-image.png",size:"100x100" %></td>
            <td><%= @staff.full_name %></td>
            <td><%= @staff.full_name_kana %></td>
            <td><%= @staff.email %></td>
            <td>
              <%= link_to "⚙", edit_staff_path(@staff) %>
            </td>
            <td>
              <%= link_to "間違えた問題を見る", staffs_path %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</sction>
<%= javascript_include_tag 'chart.js' %>