<section class="inner">
  <h2 class="section-ttl"><%= @staff.full_name %></h2>
  <div class="staff_info_container mt2">
    <div class="canvas-container">
      <canvas id="myChart"></canvas>
    </div>
    <table class="staff_info">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>プロフィール画像</td>
          <td><%= attachment_image_tag @staff,:image,format: "jpeg", fallback: "no-image.png",size:"100x100" %></td>
        </tr>
        <tr>
          <td>名前</td>
          <td><%=  @staff.full_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%=  @staff.full_name_kana %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @staff.email %></td>
        </tr>
      </tbody>
    </table>
    <table class="staff_info">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>最終ログイン日時</td>
          <td><%= @staff.current_sign_in_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <td>正答率</td>
          <td><%= @staff.correct_rates %>%</td>
        </tr>
        <tr>
          <td>総達成率</td>
          <td><%= @staff.achievement_rates %>%</td>
        </tr>
      </tbody>
    </table>
    <table class="staff_info">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>誤答問題数<%= @achievement_rates_count %>件</td>
            <td><%= link_to "間違えた問題を見る", staffs_path, class:"btn btn-caution" %></td>
          </tr>
          <tr>
            <td><%= link_to edit_staff_path(@staff),class:"btn-edit" do %><i class="fas fa-cog fa-2x"></i><% end %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
</sction>
<%= javascript_include_tag 'chart.js' %>