<section class="inner">
  <h2 class="section-ttl">誤答リスト<span class="ttl-span ml2">誤答問題数<%= @wrong_answers_count %>件</span></h2>
  <table class="wrong_answer_index has_border_bottom">
    <thead>
      <tr>
        <th>問題番号</th>
        <th>問題</th>
        <th>正解</th>
        <th>カテゴリ</th>
      </tr>
    </thead>
    <tbody>
      <% @wrong_answers.each do |achievement_rate| %>
      <tr>
        <td data-label="問題番号"><%= achievement_rate.question_id %></td>
        <td data-label="問題文">
          <% if achievement_rate.question.image_id %>
            <%= attachment_image_tag achievement_rate.question,:image, :fill, 100, 100,format: 'jpeg' %><br />
          <% end %>
          <%= achievement_rate.question.question_text %>
        </td>
        <td data-label="正解">
          <% achievement_rate.question.choices.each do |choice| %>
            <% if choice.is_answer %>
              <%= choice.choice_text %><br />
            <% end %>
          <% end %>
        </td>
        <td data-label="カテゴリ"><%= achievement_rate.category.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @wrong_answers %>
</section>