<h2>管理者新規作成</h2>

<%= form_with model: @admin, url: admin_registration_path, local: true do |f| %>

  <div class="field">
    <%= f.label :employ_number %>
    <%= f.text_field :employ_number %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規作成" %>
  </div>
<% end %>

