<h2>問題カテゴリ</h2>

<%= render 'form', category: @category, url: admin_categories_path, submit: '新規作成' %>

<table>
  <tr>
    <th>カテゴリ名</th>
    <th></th>
    <th></th>
    <th>問題数</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td>
        <%= category.name %>
      </td>
      <td>
        <%= link_to '編集',edit_admin_category_path(category) %>
      </td>
      <td>
        <%= link_to '削除', admin_category_path(id: category),
                            method: :delete,
                            "data-confirm" => "カテゴリから#{category.name}を削除します。カテゴリを削除するとそのカテゴリの問題も全て削除されますが、よろしいでしょうか？"  %>
      </td>
      <td>
        <%= category.questions.count.to_s + '問' %>
      </td>
    </tr>
  <% end %>
</table>