<!DOCTYPE html>
<html>
  <head>
    <title>QuizTemplateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if staff_signed_in? %>
        <%= link_to "マイページ", staff_path(current_staff) %>
        <%= link_to "問題を解く", questions_categories_path %>
        <%= link_to "ランキング", staffs_path %>
        <%= link_to "ログアウト", destroy_staff_session_path, method: :delete %>
      <% elsif admin_signed_in? then %>
        <%= link_to "スタッフ一覧", admin_staffs_path %>
        <%= link_to "カテゴリ", admin_categories_path %>
        <%= link_to "問題一覧", admin_questions_path %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to "About", homes_about_path %>
        <%= link_to "新規登録", new_staff_registration_path %>
        <%= link_to "ログイン", new_staff_session_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
